# Android Studio
*.iml
.gradle/
build/
release/
local.properties
.idea/libraries
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml

# others
.DS_Store
proguard-rules.pro

# テスト設定が消えるため指定しない
# .idea/workspace.xml
