name: Android

on: [push, pull_request]

jobs:
  build_and_test:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: build and test
      run: cd ncmb-core && ./gradlew build test --continue --info
